language: go
sudo: false
go:
  - 1.6
  - 1.7
  - 1.8

before_install:
  - go get github.com/mattn/goveralls

script:
  - go vet -v ./...
  - go build -v ./...
  - $HOME/gopath/bin/goveralls -service=travis-ci
